.footer{
    background: #090a0b;
    color: white;
    text-align: center;
    padding: 35px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 18px;
}

.footer-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.social-links{
    margin-top: 10px;
}

.social-links a{
    color: white;
    font-size: 30px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover{
    color: #ff0000;
}